*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 
    "channels left-bar main" 1fr /
    70px 245px 1fr ;
}
.channels{
    background-color: #e3e5e8;
}

.left-bar{
    background-color: #f2f3f5;
}
.title{
    border-bottom: solid 1px #cfd0d2;
}
.music {
    height: 35px;
    width: 245px;
    display: grid;
    background-color: #ebedef;
    position: fixed;
    bottom: 0px;
}

ul{
    list-style: none;
}
.main{
    background-color: #ffffff;
    display: grid;
    grid-template:
    'top-bar' 30px
    'central' 1fr
    'chat' 80px /
    1fr;
}

.chat{
    grid-area: chat;
    background-color: #f2f3f5;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.top-bar{
    grid-area: top-bar;
}
.central{
    grid-area: central;
    border-bottom: solid 1px black;
}